@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body, html {padding: 0; margin: 0; width: 100%; height: 100%; }
h1 {
  margin:0; 
  padding: 0;
  font-size: 94px; 
  text-align: center; 
  font-family: 'Bangers', cursive; 
  color: #f28f25;
  text-shadow: 2px 2px 5px #000;
  cursor: default;
/*   background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

h3, td {
  margin:0; 
  padding: 0; 
  text-align: center; 
  color: #fff; 
  text-shadow: 2px 2px 5px #000; 
  font-family: 'Amatic SC', cursive; 
  font-size: 56px; 
}

h3:hover { 
  text-shadow: 0px 0px 15px #2588f2;
  -webkit-animation: breathe 2s linear infinite;
  animation: breathe 2s linear infinite; 
  cursor:pointer;
}

a {color: #fff; text-decoration: none;}

#lifediv {
    position: absolute;
    top: 0;
    left: 0;

}
#life {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

#hearth {
    position: absolute;
    top: 20px;
    left: 70px;

}
#banner {
  padding: 12% 0 0;
  margin: 0 auto;
  width: 40%;
  min-width: 388px;
}

#horizontal-scroll {
    width: 100%;
    height: 100%;
    background: url(background1.jpg);
    background-size: cover;
    -webkit-animation: backgroundScroll 25s linear infinite;
    animation: backgroundScroll 25s linear infinite;
    background-color: #9db9da;
}

#horizontal-scroll2 {
    width: 100%;
    height: 100%;
    background: url(background1.jpg);
    background-size: cover;
    -webkit-animation: backgroundScroll 25s linear infinite;
    animation: backgroundScroll 25s linear infinite;
}

#horizontal-scroll3 {
    width: 100%;
    height: 100%;
    background: url(background1.jpg);
    background-size: cover;
    -webkit-animation: backgroundScroll 25s linear infinite;
    animation: backgroundScroll 25s linear infinite;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -12900px 0;}
}
@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -12900px 0;}
}

@-webkit-keyframes breathe {
    0% {text-shadow: 0px 0px 15px #2588f2}
    50% {text-shadow: 0px 0px 5px #2588f2}
    100% {text-shadow: 0px 0px 25px #2588f2}
}
@keyframes breathe {
    0% {text-shadow: 0px 0px 15px #000}
    50% {text-shadow: 0px 0px 5px #fff}
    100% {text-shadow: 0px 0px 15px #000}
}


#moveNyan {
  position: absolute;
  left:0;
  top: 240px;
  animation: 0;
  animation-duration: 0.5s;
}
@keyframes Down1 {
  0% {top:0px; left:0px;}
  100% {top: 80px; left: 0px}
}
@keyframes Down2 {
  0% {top:80px; left:0px;}
  100% {top: 160px; left: 0px}
}
@keyframes Down3 {
  0% {top: 160px; left:0px;}
  100% {top: 240px; left: 0px}
}
@keyframes Down4 {
  0% {top:240px; left:0px;}
  100% {top: 320px; left: 0px}
}
@keyframes Down5 {
  0% {top:320px; left:0px;}
  100% {top: 400px; left: 0px}
}
@keyframes Down6 {
  0% {top:400px; left:0px;}
  100% {top: 480px; left: 0px}
}
@keyframes Down7 {
  0% {top:480px; left:0px;}
  100% {top: 560px; left: 0px}
}
@keyframes Down8 {
  0% {top: 560px; left:0px;}
  100% {top: 640px; left: 0px}
}




@keyframes Up8 {
  0% {top: 640px; left:0px;}
  100% {top: 560px; left: 0px}
}
@keyframes Up7 {
  0% {top:560px; left:0px;}
  100% {top: 480px; left: 0px}
}
@keyframes Up6 {
  0% {top: 480px; left:0px;}
  100% {top: 400px; left: 0px}
}
@keyframes Up5 {
  0% {top:400px; left:0px;}
  100% {top: 320px; left: 0px}
}
@keyframes Up4 {
  0% {top:320px; left:0px;}
  100% {top: 240px; left: 0px}
}
@keyframes Up3 {
  0% {top:240px; left:0px;}
  100% {top: 160px; left: 0px}
}
@keyframes Up2 {
  0% {top:160px; left:0px;}
  100% {top:80px; left: 0px}
}
@keyframes Up1 {
  0% {top:80px; left:0px;}
  100% {top: 0px; left: 0px}
}

.candy {
  animation: candy1;
  animation-duration: 5s;
}
.add-life {
    animation: candy1;
    animation-duration: 5s;
}
.pos1 {
  position: absolute;
  right:0;
  top: 0;
    animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pos2 {
  position: absolute;
  right:0;
  top: 80px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pos3 {
  position: absolute;
  right: 0;
  top: 160px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pos4 {
  position: absolute;
  right: 0;
  top: 240px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}


.pos5 {
  position: absolute;
  right: 0;
  top: 320px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pos6 {
  position: absolute;
  right: 0;
  top: 400px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pos7 {
  position: absolute;
  right: 0;
  top: 480px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pos8 {
  position: absolute;
  right: 0;
  top: 560px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

.pos9 {
  position: absolute;
  right: 0;
  top: 640px;
  animation: candy1;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes candy1 {
  0% {right: 0;}
  100% {right: 100%}
}


.menu {
  text-align: center;
  margin: 0;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  box-shadow: 10px 15px #000000;
  border-radius: 25%;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 28%;
  height: 70%;
  padding: 30px;
  background-color: transparent;
  backdrop-filter: blur(8px);
}

input[type="text"] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #2d9fd9;
   box-shadow: 5px 10px #000000;
   color: #a0d18c;
   width: 300px;
   height: 35px;
   padding-left: 5px;
   text-align: center;
   line-height: 40px;
    font-size: 28px;
}

input[type="text"]:focus {
   outline: none;
   border: 1px solid #a0d18c;
   color: darkblue;
   line-height: 40px;
   font-family: Padauk;
   font-size: 30px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 30px;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}