<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', filename='game.js' ) }}" defer></script>
    <title>ZsakbaTo(a)stCat</title>
</head>
<div id="horizontal-scroll">
    <div id="horizontal-scroll2">
        <div id="horizontal-scroll3">
            <div id="banner">
                <div id="cmove" style="display: block;" class="animated infinite pulse">
                    <div id="moveNyan">
                        <img height="100px" id="nyanCharacter" src="/static/asset/nyan-cat-poptart-cat.gif">
                    </div>
                </div>
                <h3><a href="#"></a></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>