<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', filename='game.js' ) }}" defer></script>
    <title>ZsakbaTo(a)stCat</title>
</head>
<body>
<div id="menu" class="menu">
    <div id="nyan">
        <img height="200px" src="/static/asset/menunyan.png">
        <br>
        <img width="500px" src="/static/asset/gametext2.png">
        <form>
            <input type="text" required placeholder="Enter your name">
            <br><br><br>
            <button id="start" class="glow-on-hover" type="button">Start</button>
            <br><br><br>
            <button type="button" class="glow-on-hover">High score</button>
        </form>
    </div>
</div>
<div id="horizontal-scroll">
    <div id="horizontal-scroll2">
        <div id="horizontal-scroll3">
            <div>
                <img src="/static/heart.png" alt="heart_pic" ><img src="/static/heart.png" alt="heart_pic" ><img src="/static/heart.png" alt="heart_pic" ><h1 style="color: #00ffd5" align="center">Your score: </h1>

            </div>

            <div id="banner">
                <div id="cmove" style="display: block;" class="animated infinite pulse">
                    <div id="moveNyan">
                        <img height="70px" id="nyanCharacter" src="/static/asset/nyan-cat-poptart-cat.gif">
                    </div>
                </div>
                <h3><a href="#"></a></h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>